@import "~src/assets/mine/scss/portal.scss";
@import "~src/assets/mine/scss/theme.scss";

.landing-body {
  height: 100%;
  background-color: $light-purple;
}

.landing-nav-bar {
  background-color: $deep-purple;
}
